{%extends 'base_manajer.html'%}
{%block title%}Dashboard Manajer{%endblock%}

{%block content %} 
<div id="main" class="main-content">
    <div class="container">
        <div class="baris">
            <div class="selamat-datang">
                <div class="col-header">
                    <p class="judul-sm">Selamat Datang </p>
                    <h2 class="judul-md">Hallo Manager ! Have a nice day 😊</h2>
                </div>
            </div>
        </div>

        <div class="baris">
            <div class="col col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-panel">
                            <div class="panel-header">
                                <p>Jumlah Karyawan</p>
                                <h2>{{jml_karyawan}}</h2>
                            </div>
                            <div class="panel-icon">
                                <img src="{{ url_for('static',filename='img/team.png')}}" alt="karyawan" height="48">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-panel">
                            <div class="panel-header">
                                <p>Total Pelanggan</p>
                                <h2>{{jml_pelanggan}}</h2>
                            </div>
                            
                            <div class="panel-icon">
                                <img src="{{ url_for('static',filename='img/total_order.png')}}" alt="pelangganr" height="48">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-panel">
                            <div class="panel-header">
                                <p>Riwayat Pesanan</p>
                                <h2>{{jml_pesanan}}</h2>
                            </div>

                            <div class="panel-icon">
                                <img src="{{ url_for('static',filename='img/jumlah_paket.png')}}" alt="paket" height="48">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
{%endblock%}
 