{%extends 'base_manajer.html'%} 
{%block title%}Data Pelanggan{%endblock%}

{%block content%}
<div id="main" class="main-content">
  <div class="container">
  <br>
      <div class="col-header ">
        <p class="judul-sm"><b>Informasi Data Pelanggan</b></p>
      </div>

<div class="px-3 py-3 mt-3">
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-light">
      <tr>
        <th>Id Pelanggan</th>
        <th>Nama Pelanggan</th>
        <th>Kontak</th>
        <th>Alamat</th>
      </tr>
    </thead>

    <tbody>
      {% for row in dt_pelanggan %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
</div>
{%endblock%}
