{%extends 'base_manajer.html'%}

{%block title%}Riwayat Pesanan{%endblock%}
{%block content%}
<div id="main" class="main-content">
  <div class="container">
  <br>
      <div class="col-header ">
        <p class="judul-sm"><b>Riwayat Pesanan</b></p>
      </div>

<div class="px-3 py-3 mt-3">
  <table class="table table-bordered table-hover table-striped">
    <thead class="table-light">
      <tr>
        <th>No Nota</th>
        <th>Nama</th>
        <th>Paket</th>
        <th>Berat</th>
        <th>Tanggal Selesai</th>
        <th>Harga</th>
        <th>Pegawai</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      {% for row in transaksi %}
      <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
        <td>{{row.6}}</td>
        <td>{{row.7}}</td>
      </tr>
      
      {%endfor%}
    </tbody>
  </table>
</div>

</div>
</div>
{%endblock%}
